.header__logo {
    max-width: 142px;
    max-height: 33px;
}
.header__logo:hover {
    opacity: 0.6;
}

@media (max-width: 934px) {
    .header__logo {
        margin-left: 27px;
    }
}
@media (max-width: 747px) {
    .header__logo {
        max-width: 103.74px;
        max-height: 24.4px;
    }
}