.footer__copyright {
    margin: 0px;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 747px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}