.profile__title {
    max-width: 40vw;
    grid-area: title;
    margin: 0px;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 1280px) {
    .profile__title {
        max-width: 512px;
    }
}
@media (max-width: 747px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}