.element__like-button_active {
    min-width: 22px;
    min-height: 19px;
    margin: 0px 0px 3px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0px;
    opacity: 1;
    background-image: url(../../../../images/like_active.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.element__like-button_active:hover {
    opacity: 1;
}