.sign-up__submit-button {
  margin: 216px 0px 15px;
  padding: 0px;
  border: none;
  min-width: 358px;
  min-height: 50px;
  background-color: #ffffff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.sign-up__submit-button:hover {
  opacity: 0.85;
}