.popup {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
.popup::before {
    content: '';
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
